.estilos-listado{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    color: black;
    width: 90%;
    height: auto;
}

.titulo-catalogo{
    font-size: 1.9em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
}